<div class="center jumbotron">
  <h1><%= t"views.static_pages.home.welcome" %></h1>
  <h2><%= raw t("views.static_pages.home.home_t",
      rail_t: link_to(t("views.static_pages.rail_t"), "http://www.railstutorial.org/help")) %>
  </h2>
  <%= link_to t("views.static_pages.home.sign_up"), "#", class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            "http://rubyonrails.org/'=" %>
<%= image_tag("kitten.jpg", alt: "Kitten image") %>
