
<footer class="footer">
  <small>
     <%=link_to t("views.layouts.footer.rail_t"), "http://www.railstutorial.org/" %>
     <%=link_to t("views.layouts.footer.authors"), "http://www.michaelhartl.com/"%>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("views.layouts.footer.contact"),"#" %></li>
      <li><%= link_to t("views.layouts.footer.about"), about_path %></li>
      <li><%= link_to t("views.layouts.footer.new"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
